body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #676161;
}

button {
  cursor: pointer;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: '0 auto';
}

.timer-container {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.start-button {
  min-width: 90px;
  margin-top: 30px;
  margin: 10px;
  font-size: 16px;
  background-color: #D68282;
  border: none;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
}

.restart-button {
  min-width: 90px;
  margin-top: 30px;
  margin: 10px;
  font-size: 16px;
  background: none;
  border: 1px solid #D68282;
  border-radius: 10px;
  padding: 10px;
  color: #676161;
}

.timer-options {
  display: flex;
  justify-content: center;
}

.item {
  font-size: 18px;
  margin: 30px;
  padding: 10px;
  border-radius: 10px;
  min-width: 70px;
  border: 0.05em solid #D68282;
  color: #676161;
  background-color: #fff;
  min-width: 90px;
}

.active {
  background-color: #D68282;
  color: #fff;
}

.description {
  font-size: 18px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.context {
  margin-left: 10px;
}